* {
    padding: 0;
    margin: 0
  }
  
  body {
    background-color: #000000;
    
  }
  
  .crossfade > figure {
    animation: imageAnimation 30s linear infinite 0s;
    color: transparent;
    height: 800px;
    left: 0px;
    opacity: 0;
    position: absolute;
    width: 100%;
    backface-visibility: visible;
    background-size: cover;
    background-position: center;
    
  }
  
  .crossfade > figure:nth-child(1) {
    background-image: url('img/1.jpg');
  }
  .crossfade > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('img/2.jpg');
  }
  .crossfade > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('img/3.jpg');
  }
  .crossfade > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('img/4.jpg');
  }
  .crossfade > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('img/5.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }

  #block{
    float: left;
    margin-top: 8px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
  width: 55.5%;
  height: 110px;
  padding-bottom: 6px;
  margin-left: 380px;
  border-radius: 5px;
  position: absolute;
}

.img{
  width:258px;
border-top: 3px solid rgb(39, 38, 38);
font-size: 20px;
text-align: center;
}

.tab{
    display: block;
    width: 245px;
    height: 70px;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    border: 0.1px solid rgb(243, 239, 239);
    border-top: 0;
    border-bottom: 0;
    color: #756033;
    font-style: italic;
    cursor: pointer;
    margin-left: 2px;
    font-family: 'Prata', serif;
  }
  .tab-1{
    text-decoration: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.glavn{
  margin-top: 10px;
  float: left;
  cursor: none;
  position: absolute;
  width: 120px;
  height: 85px;
  border-radius: 60px;
  margin-right: 10px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 30px;
  font-weight: 400;
 font-family: 'Dancing Script', cursive;
 font-size: 29px;
 background-image: url(https://i.pinimg.com/originals/21/90/de/2190de71ca6691321858edbc1eb36197.png);
 background-size: 127px 127px;
 background-repeat: no-repeat;
 background-position: center;
 color: #000000;
 margin-left: 200px;
}

.container1{
    position: absolute;
    padding-top: 150px;
    text-align: center;
    margin: 10px 310px;
}
.button-prev, .button-next, .slider-wrapper, .dot {
    display: inline-block;
    vertical-align: middle;
}

.slider-wrapper{
    overflow: hidden;
    width: 650px;
    margin: 5px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px rgb(31, 30, 30);
}

.slider-line{
    display: flex;
    position: relative;
    left: 0;
    transition: 1s;
}

.button-prev, .button-next{
    width: 25px;
    height: 30px;
    padding: 7px 3px;
    background: rgb(129, 128, 128);
    border: 1px solid rgb(105, 104, 104);
    border-radius: 6px;
    color: black;
    box-shadow: 1px 1px 5px 1px rgb(31, 30, 30);
}

.button-prev:hover, .button-next:hover, .dot:hover {background: rgb(88, 88, 88);}
.button-prev:active, .button-next:active, .dot:active {background: rgb(129, 128, 128);}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(129, 128, 128);
    margin: 10px;
}
 
.active{
    background: rgb(88, 88, 88);   
}